<header>
  <h1>PasswordKeepR</h1>
  <nav>
    <ul>
      <li><button onclick="location.href='/'">Home</button></li>
      <li><button onclick="location.href='/vault'">Vault</button></li>
      <li><button onclick="location.href='/vault'">Login</button></li> <!-- hardcoded to redirect to vault -->
    </ul>
  </nav>
</header>
