<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="" UFT-8">
  <meta name="viewport" content="" width=device-width, initial-scale="1.0">
  <title>Edit - PasswordKeepR</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/edit.css" />
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/footer.css">

</head>

<body>
  <%- include('./partials/header') %>
    <main>
      <section class="edit-account">
        <div class="website-logo-container">
          <img src="path/to/logopicture/.png" alt="Website Logo">
        </div>

        <div class="info-container">
          <form id="edit-form" action="/edit" method="POST">
            <div class="info-field">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" placeholder="Enter new email here" value="<% currentEmail %>"
                required>
              <button type="submit">Submit</button>
            </div>

            <div class="info-field">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" placeholder="Enter new password here"
                value="<% currentPassword %>" required>
              <button type="submit">Submit</button>
            </div>

            <div class="info-field">
              <label for="url">URL</label>
              <input type="url" id="url" name="url" placeholder="Enter new URL here" value="<% currentUrl %>" required>
              <button type="submit">Submit</button>
            </div>


          </form>
        </div>


      </section>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>
