<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/footer.css">



  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>

</head>

<body>
  <%- include('./partials/header') %>

  <main>
    <h1>Secure and Reliable Password Manager</h1>
    <p>That keeps your information only a click away</p>

    <div class="features">
      <div>Store Your Passwords With Ease</div>
      <div>Easy To Use User Interface</div>
      <div>Copy To Clipboard</div>
      <div>Generate Secure Passwords</div>
      <div>Edit Account Details</div>
      <div>Categorize Websites</div>
    </div>
  </main>

  <%- include('./partials/footer')%>

</body>

</html>
